<div class="row">
  <%= simple_form_for(@store) do |f| %>
    <%= f.error_notification %>
      <div class="col-md-3">
        <%= f.input :name %>
        <%= f.input :address, :input_html => { :id => "autoaddress" } %>
        <%= f.input :phone %>
        <%= f.input :email %>
        <%= f.input :url %>
        <%= f.input :description %>
        <%= f.button :submit, :value => "Save changes", :class => 'btn btn-primary' %>
        <%= link_to 'Or Go Back', stores_path, :class => 'btn' %>
      </div>
      <div class="col-md-3">
          <%= f.input :categories %>
          <p class="help-block">List one or more catgories separated by commas. ex: category1, category2. NOTE: your category cannot itself contain a comma or it will be split into 2 categories</p>
          <%= f.input :custom_field_1 %>
          <%= f.input :custom_field_2 %>
          <%= f.input :custom_field_3 %>
          <%= f.input :image_url %>
          <p class="help-block">URL that points to a hosted image or logo for this store to appear in the store list and pop-window.</p>
          <%= f.input :custom_marker_url %>
          <p class="help-block">add a custom map marker/pin with a URL that points to a hosted marker image.</p>
      </div>
      <div class="col-md-6">
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">×</a>
          <p>Only edit latitude/longitude if you want to override Google geo-coding.</p>
          <strong>Or Use the Map Tool Below.</strong>
            <%= f.input :lat, :input_html => { :id => "store_latitude"} %>
            <%= f.input :long, :input_html => { :id => "store_longitude"} %>

          <div id="map"></div>
          <div class="form-group" style="margin-top:35px">
            <label for="map_address">To update map view start typing an address and select</label>
            <input id="map_address" placeholder="Enter a location" class="form-control"  data-toggle="popover" data-content="Please click on one of the suggestions below" data-title="Tips" data-placement="top"  autocomplete="off" type="text"></input>
          </div>
          <div class="alert alert-info">
          <p><strong>Use this tool to manually set/change the lat/long of this store.</strong></p>
          <p>1) for small adjustments, just drag the pin. The lat/long will update, then you can hit save.</p>
          <p>2) For bigger adjustments, enter an address below then double-click to create a new pin. Drag it to the exact location </p>
          <p><strong>You must still hit the Save button above to save changes</strong></p>
          </div>

        </div>
      </div>

  <% end %>
</div>

<script type="text/javascript">
  $(document).ready( function() {
      // $('#map_address').popover();
      $('#map_address').bind('keypress', function(e){
          if(e.keyCode == 13) {
              e.preventDefault();
              // $('#map_address').popover('show');
              // setTimeout(function(){
                  // $('#map_address').popover('hide');
              // }, 5000);
          }
      });
      $('#autoaddress').bind('keypress', function(e){
          if(e.keyCode == 13) {
              e.preventDefault();
          }
      });
  } );
</script>

