<div id="dashboard" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Your Pricing Tables</h3>
  </div>
  <div class="panel-body">
    <a href="#snippet_modal" class="btn btn-default pull-left" data-toggle="modal" id="snippet_modal_button">
      <i class="fa fa-file"></i> Embed Code
    </a>
    <a href="/stores/new" class="btn btn-default pull-left" id="new_modal">
      <i class="fa fa-plus"></i> Add New Table
    </a>
    <a href="/users/2695/stores/bulk_upload" class="btn btn-default pull-left" data-toggle="modal"
       id="bulk-upload-modal-button">
      <i class="fa fa-plus"></i> Bulk Upload
    </a>
    <a href="/users/2695/stores.csv" class="btn btn-default pull-left">
      <i class="fa fa-download"></i> Download CSV
    </a>
    <a href="https://www.saasbase.com/destroy_all" class="btn btn-default pull-left"
       data-confirm="Are you sure? This action cannot be undone.">
      <i class="fa fa-trash"></i> Delete All Tables
    </a>
  </div>
</div>
<div class="row">

  <table class="table table-striped table-bordered table-compressed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>URL</th>
        <th>Lat</th>
        <th>Long</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.address %></td>
          <td><%= store.phone %></td>
          <td><%= store.email %></td>
          <td><%= store.url %></td>
          <td><%= store.lat %></td>
          <td><%= store.long %></td>
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
