<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "SaasBase" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SaasBase" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    window.mapKey = "<%= ENV['MAP_API_KEY']%>";
  </script>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<div id="main-container" class="container">
  <%= render 'layouts/messages' %>
  <div id="side-content">
    <%= yield :sidebar %>
  </div>
  <div id="main-content">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
